<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="TaskViewerEntities" connectionString="metadata=res://*/Models.DatabaseEntityModel.csdl|res://*/Models.DatabaseEntityModel.ssdl|res://*/Models.DatabaseEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0LIDGCQ\MSSQL;initial catalog=TaskViewer;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>